@page "/callfunction"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory 


<PageTitle>Call Function</PageTitle>
<h1>Call Function</h1>

@code {

protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://avdmsdemofunction.azurewebsites.net/api/HttpTriggerWorkspaces?name=hellothere");
        request.Headers.Add("Accept", "application/vnd.github.v3+json");
        request.Headers.Add("User-Agent", "HttpClientFactory-Sample");

    
        
        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
    }




}

!response.responseMessage.IsSuccessStatusCode ? response.ReadAsStringAsync()

 